/*----------- CSS Reset -----------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid rgb(220,220,220);
}

/*----------- Universal Styles -----------*/
/* Eg padding on your sections, utility classes, etc. */

.padded {
  padding: 8%;
}

/*----------- Typography -----------*/

body {
  color:#2c2c2c;
  font-weight:300;
}

p, h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom:1rem;
  line-height: 1.5;
}

h1, h2 {
  font-weight:900;
}

h1 {
  font-size:6vw; /* we use vw to set font-size in banners so they adapt to screen */
  padding-bottom:0rem;
}

h2 {
  font-size:1.8em;
}

span {
  color:#ffbe00;
}

.dark {
  color:#fff;
  background-color: #192B37;
}

.banner {
  color:#fff;
}

.banner,
.small-banner {
  text-align:center;
}

.banner h2 {
  font-weight:400;
  font-size:3vw; /* we use vw to set font-size in banners so they adapt to screen */
}

.banner span {
  color:#ffbe00;
}

.small-banner h2 {
  font-size:4vw; /* we use vw to set font-size in banners so they adapt to screen */
}

.small-banner p {
  font-weight:400;
  font-size:2vw; /* we use vw to set font-size in banners so they adapt to screen */
  padding-bottom:0rem;
}

.small-banner span {
  color:#fff;
}

footer h2 {
  font-size:3em;
  line-height: 1;
}

/*----------- Banners & Background Images -----------*/

.banner  {
  background-image: url('images/banner.jpg');
  background-size:cover;
  min-height:100vh;
  padding: 35vh 5%;
  background-position: center;
}

.bg-pug,
.bg-bed {
  background-size:cover;
  min-height:100vh;
  background-position: center;
  min-height: 30vh;
}

.bg-pug {
  background-image: url('images/pug.jpg');
}

.bg-bed {
  background-image: url('images/bed.jpg');
}

.small-banner {
  background-image: url('images/small-banner.jpg');
  background-size:cover;
  background-position: center;
  min-height: 70vh;
}

/*----------- Testimonial Section -----------*/

.quote {
  text-align:center;
  font-weight:300;
  padding:10% 5% 10% 5%;
}

.quote p {
  font-size:1.8em;
}

.quote-mark {
  font-size:6em;
  color: #95989A;
  font-family: 'Playfair Display', serif;
}

.author {
  font-size:1.2em;
  color: #A0A0A0;
  text-align:right;
}

/*----------- Footer -----------*/


/*----------- Contact Form -----------*/

form input,
form label,
form textarea,
form placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size:0.8em;
  width:80%;
  border: 0px;
  border-radius: 3px;
  padding:0.5rem;
  margin:0.5rem 0;
}

form textarea {
  min-height:20vh;
}

form p {
  padding:0rem 0rem 0rem 0.4rem;
  line-height:0;
}

form input[type="radio"] {
 width:auto;
}

form input[type="submit"] {
  background-color: #ffbe00;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 80%;
  border: 0px;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.blockupdates {
  padding-bottom:0.5rem;
}

.updates {
  padding-bottom: 0rem;
  display: block;
}
